---
layout: page
---
{% assign profile = site.theme_settings.profile %}

</div><!-- This Tag means End .container -->
<div id="protfolio">
  <section id="about-me">
    <div class="row">
      <div class="img-wrap col-12 col-md-4">
        <div class="img">
          <img src="{{ site.baseurl }}/{{ profile.image }}" alt="user_image">
        </div>
      </div>
      <div class="text-wrap col-12 col-md-8">
        <h2 class="username">{{ profile.username }}</h2>
        <p class="description">{{ profile.description }}</p>

        <ul id="icons">
          {% include icons.html %}
        </ul>
      </div>
    </div>
    <div class="bg"></div>
  </section>

  <section id="intro" class="row">
    <article class="col-12">
      <p class="title">INTRODUCE 😊</p>
      <p class="intro">
        안녕하세요 저는 Junior Java Developer 최현섭입니다. 약 2년동안 웹 서비스 회사에서 근무한 이력이 있습니다.
      </p>
      <p class="intro">
        - 반복되는 일을 자동화하고 비효율적인 프로세스가 있다면 점진적으로 개선해 나가는 일을 해본 경험이 있습니다.
      </p>
      <p class="intro">
        - 새로운 기술을 배우고 실제 업무에 적용시키는 일에 흥미를 느낍니다.
      </p>
      <p class="intro">
        - 객체지향 프로그래밍을 좋아합니다. 항상 객체 인터페이스를 기반으로 코딩하기 위해 노력하고 객체 역할 분담에 대해서 고민합니다.
      </p>
      <p class="intro">
        - 테스트와 리팩터링을 중요하게 생각하고 읽기 좋은 코드를 쓰기 위해 노력합니다.
      </p>
    </article>
  </section>

  <!-- career section -->
  <section id="career" class="row">
    <article class="exper col-12 col-md-6">
      <p class="title">EXPERIENCE 📄</p>
      <ul class="exper-list">
        {% for exp in  profile.experience %}
        <li class="meta">
          <p class="date">{{ exp.start }} ~ {{ exp.end }}</p>
          <p class="description">{{ exp.experience }}</p>
        </li>
        {% endfor %}
      </ul>
    </article>
    <article class="skills col-12 col-md-6">
      <p class="title">SKILLS 🔨</p>
      <ul class="skill-list">
        {% for _ in profile.skills %}
        <li class="skill">
          <p class="name">{{ _.skill }}</p>
          <div class="progress">
            <div class="progress-bar" style="width: {{ _.value }}%">
              <div class="progress-value">{{ _.value }}%</div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </article>
  </section>

{% include projects.html %}

</div>